body {
    font-family: "Lucida Grande";
}

#logo {
    text-align: center;
}

HR {
    margin-bottom: 30px;
}

#welcome {
    font-size: 26px;
    font-weight: bold;
    margin-left: 70px;
    margin-top: 60px;
}

div a {
    color: #1A1A1A;
    font-size: 17px;
    text-decoration: none;
    overflow: hidden;
}

#quota {
    text-align: right;
    margin-top: -100px;
    margin-bottom: 75px;
    margin-right: 30px;
}

#quota a {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

#order {
    text-align: right;
    margin-top: -13px;
    margin-right: 33px;
}

#order a {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.intro {
    font-size: 22px;
    margin-left: 245px;
    margin-top: 80px;
}

#operation {
    border-collapse: collapse;
    border: 1px solid #1A1A1A;
    border-radius:15px;
    margin-top: 45px;
    margin-left: 245px;
    width: 670px;
    height: 250px;
    overflow: scroll;
}

#alert_div {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}

#op {
    margin-top: 40px;
    margin-left: 35px;
    font-size: 18px;
}

#op td {
    padding: 0px 50px;
}

#ops {
    margin-top: 15px;
    outline-style: none;
    border: 1px solid #1A1A1A;
    border-radius: 10px;
    padding:5px 0px;
    width: 180px;
    font-size: 18px;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

#ids {
    margin-top: 15px;
    outline-style: none;
    border: 1px solid #1A1A1A;
    border-radius: 10px;
    padding:5px 0px;
    width: 180px;
    font-size: 18px;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

#operation button {
    background: #F0F0F0;
    margin-top: 35px;
    margin-left: 90px;
    border-width: 0px;
    padding: 4px 24px 4px 24px;
    font-size:16px;
    font-weight:bold;
    border-radius:8px;
    cursor: pointer;
}

#operation button:hover {
    background:#ADD8E6;
}

#ords {
    border-collapse: collapse;
    border: 1px solid #1A1A1A;
    font-size: 20px;
    margin: 40px auto;
}

#ords th {
    border-collapse: collapse;
    border-right: 1px solid #1A1A1A;
    border-bottom: 1px solid #1A1A1A;
    background-color: #B0B0B0;
    padding: 3px 9px;
    font-weight: normal;
    text-align: center;
}

#ords td {
    border-collapse: collapse;
    border-right: 1px solid #1A1A1A;
    border-bottom: 1px solid #1A1A1A;
    padding: 3px 9px;
    text-align: center;
}

#ords tr:nth-child(even) {
    background-color: #FFFFFF;
}

#ords tr:nth-child(odd) {
    background-color: #F0F0F0;
}

#cancel {
    border-collapse: collapse;
    border: 1px solid #1A1A1A;
    font-size: 20px;
    margin: 40px auto;
}

#cancel th {
    border-collapse: collapse;
    border-right: 1px solid #1A1A1A;
    border-bottom: 1px solid #1A1A1A;
    background-color: #B0B0B0;
    padding: 3px 9px;
    font-weight: normal;
    text-align: center;
}

#cancel td {
    border-collapse: collapse;
    border-right: 1px solid #1A1A1A;
    border-bottom: 1px solid #1A1A1A;
    padding: 3px 9px;
    text-align: center;
}

#cancel tr:nth-child(even) {
    background-color: #FFFFFF;
}

#cancel tr:nth-child(odd) {
    background-color: #F0F0F0;
}

.intro_q {
    font-size: 22px;
    margin-left: 300px;
    margin-top: 60px;
}

#remain_q {
    border-collapse: collapse;
    border: 1px solid #1A1A1A;
    font-size: 20px;
    margin: 50px auto;
}

#remain_q th {
    border-collapse: collapse;
    border-right: 1px solid #1A1A1A;
    border-bottom: 1px solid #1A1A1A;
    background-color: #B0B0B0;
    padding: 3px 9px;
    font-weight: normal;
    text-align: center;
}

#remain_q td {
    border-collapse: collapse;
    border-right: 1px solid #1A1A1A;
    border-bottom: 1px solid #1A1A1A;
    padding: 3px 9px;
    text-align: center;
}

#remain_q tr:nth-child(even) {
    background-color: #FFFFFF;
}

#remain_q tr:nth-child(odd) {
    background-color: #F0F0F0;
}

#record_q {
    border-collapse: collapse;
    border: 1px solid #1A1A1A;
    font-size: 20px;
    margin: 50px auto;
}

#record_q th {
    border-collapse: collapse;
    border-right: 1px solid #1A1A1A;
    border-bottom: 1px solid #1A1A1A;
    background-color: #B0B0B0;
    padding: 3px 9px;
    font-weight: normal;
    text-align: center;
}

#record_q td {
    border-collapse: collapse;
    border-right: 1px solid #1A1A1A;
    border-bottom: 1px solid #1A1A1A;
    padding: 3px 9px;
    text-align: center;
}

#record_q tr:nth-child(even) {
    background-color: #FFFFFF;
}

#record_q tr:nth-child(odd) {
    background-color: #F0F0F0;
}

#alert_q {
    margin-left: 360px;
    font-size: 18px;
}

#apply_table {
    margin-top: 20px;
    margin-left: 180px;
}

.mask {
    margin-left: 180px;
}

.mask_type {
    margin-bottom: 20px;
    margin-left: 180px;
    font-size: 17px;
}

.amount {
    margin-top: 15px;
    margin-left: 180px;
    outline-style: none;
    border: 1px solid #1A1A1A;
    border-radius: 12px;
    padding:5px 0px;
    width: 170px;
    font-size: 18px;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

#apply {
    background: #E8E8E8;
    margin-left: 370px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-width: 0px;
    padding: 6px 18px 6px 18px;
    font-size:16px;
    font-weight:bold;
    border-radius:8px;
    cursor: pointer;
}

#apply:hover {
    background:#ADD8E6;
}

#logout {
    float: right;
    background: #E8E8E8;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 40px;
    border-width: 0px;
    padding: 5px 15px 5px 15px;
    font-size:16px;
    font-weight:bold;
    border-radius:8px;
    cursor: pointer;
}

#logout:hover {
    background:#ADD8E6;
}